html {
  padding: 0px;
  font-family: "Courier New", Courier, monospace;
  --sideBarWidth: 12rem;
  --sidbarItemHeight: 6rem;
  --meterWidth: 40px;
}

@media only screen and (max-width: 600px) {
  html {
    --meterWidth: 20px;
  }
}

body {
  padding: 0px;
}

.app-wrapper {
  width: 100vw;
}

.disabled {
  pointer-events: none;
  color: gray;
}

/* ## LAYOUT ## */

/* HOMEPAGE */

.home-page--flex-column {

}

.how-to-link-wrapper {
  position: fixed;
  right: 10px;
  top: 10px;
}

/* FOOTER */

footer {
  position: fixed;
  bottom:10px;
  right: 0px;
  width: 80vw;
}

.pdf-links-wrapper--flex-row {
  align-items: flex-start;
  justify-content: flex-end;
}

.pdf-links-wrapper--flex-row > div:nth-child(n+1) {
  padding: 4px;
}
/* LOGIN */

.login--flex-column {
  width: 20rem;
  height: 12rem;
  justify-content: space-around;
}

/* BANDEOKE */

div[class*="flex-column"] {
  display: flex;
  flex-direction: column;
}

div[class*="flex-row"] {
  display: flex;
  flex-direction: row;
}

.left-sidebar--flex-column {
  overflow-y: scroll;
  overflow-x: hidden;
  transition: linear all 1s;
  position: fixed;
  left: calc(0rem - var(--sideBarWidth) +  var(--meterWidth));
  top: 20px;
  width: var(--sideBarWidth);
  height: 90vh;
  z-index: 3;
  /* just for dev */
  /* background-color: gray; */
}

.left-sidebar--flex-column.active {
  position: fixed;
  left: 20px;
  top: 20px;
}

.title {
  flex: 0 1 calc(var(--sidbarItemHeight) / 2);
}

.new-overdub-wrapper--flex-column > .button {
  position: absolute;
  z-index: 2
}

.controls-wrapper--flex-column {
  z-index: -1;
  flex: 0 0 var(--sidbarItemHeight);
  flex-wrap: wrap;
  align-content: stretch;
  background-color: yellow;
  max-height: var(--sidbarItemHeight);
}

.controls-wrapper--flex-column > .audio-meter {
  height: var(--sidbarItemHeight);
}

.controls-item {
  flex: 1 0 1.5rem;
  min-width: 6rem;
}

.controls-item > .button {
  height: 100%;
  font-size: calc(var(--sidbarItemHeight) / 5);
}

.controls-wrapper--flex-column > .audio-meter:first-child {
  width: var(--meterWidth);
}

.controls-wrapper--flex-column > .audio-meter:last-child {
  flex: 0 0 auto;
  width: var(--meterWidth);
  align-self: flex-end;
}

.overdubs-wrapper--flex-column {
  align-self: stretch;
  flex: 0 0 var(--sidbarItemHeight);
}

.overdub-item-wrapper--flex-column {
  flex: 0 0 var(--sidbarItemHeight);
  align-self: stretch;
  margin-top: 5px;
}

.overdub-item-wrapper--flex-column > .audio-meter {
  position: absolute;
  height: var(--sidbarItemHeight);
  width: var(--sideBarWidth);
  z-index: -1;
}

.overdub-controls-wrapper--flex-row {
  align-items: center;
  flex: 0 0 var(--sidbarItemHeight);
  align-items: flex-end;
}

.overdub-controls-item {
  margin: 0px;
  padding: 0px;
}

.overdub-controls-wrapper--flex-row > .overdub-controls-item:nth-child(1) {
  flex: 0 0 auto;
  width: 2rem;
  height: 2rem;
}

.overdub-controls-wrapper--flex-row > .overdub-controls-item:nth-child(2) {
  flex: 0 0 auto;
  width: 4rem;
  height: 1rem;
}

.overdub-controls-wrapper--flex-row > .overdub-controls-item:nth-child(3) {
  flex: 2 1 auto;
  width: 2rem;
  height: 2rem;
}

.overdub-controls-wrapper--flex-row > .overdub-controls-item:nth-child(4) {
  align-self: flex-start;
  flex: 0 0 auto;
  width: 1rem;
  height: 1rem;
  margin-right: 5px;
}

.score-buttons-wrapper--flex-row > .button {
  flex: 0 1 2rem;
  margin-top: 3px;
  margin-right: 3px;

}

.score-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  z-index: -1;
}
/* ## ELEMENTS ## */

.button {
  cursor: pointer;
  background-color: yellow;
  width: 5rem;
}

.small-button {
  cursor: pointer;
  background-color: yellow;
}

a {
  cursor: pointer;
  background-color: yellow;
  color: blue;
  text-decoration: none;
}

a:visited {
  color: blue;
}

.audio-meter {
  width: 100%;
  height: 100%;
  pointer-events: none;
}


/* TOASTIFY */

.Toastify__toast-container--top-right {
    top: 10px;
    right: 4px;
}

.Toastify__toast-container {
    z-index: 9999;
    -webkit-transform: translate3d(0, 0, 9999px);
    position: fixed;
    padding: 0px;
    width: 300px;
    box-sizing: border-box;
    color: black;
    border-style: solid;
    border-width: medium;
    border-color: black;
    background-color: white;
}

.Toastify__toast {
    position: relative;
    min-height: 20px;
    box-sizing: border-box;
    margin-bottom: 2px;
    padding: 2px;
    border-radius: 1px;
    box-shadow: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-height: 800px;
    overflow: hidden;
    font-family: "Courier New", Courier, monospace;
    cursor: pointer;
    direction: ltr;
}

.Toastify__toast--success {
    background: white;
}

@keyframes enter {
  from {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.enter {
  animation-name: zoomIn;
}

@keyframes exit {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 0;
  }
}

@media only screen and (max-width: 480px) {
  .Toastify__toast-container {
    width: 100vw;
    padding: 0;
    left: 0;
    margin: 0; }
    .Toastify__toast-container--top-left, .Toastify__toast-container--top-center, .Toastify__toast-container--top-right {
      top: 0; }
    .Toastify__toast-container--bottom-left, .Toastify__toast-container--bottom-center, .Toastify__toast-container--bottom-right {
      bottom: 0; }
    .Toastify__toast-container--rtl {
      right: 0;
      left: initial; } }
