html {
  font-family: "Courier New", Courier, monospace;
}

.score-wrapper {
  max-width: 100%;
   overflow: hidden;
}

.button {
  cursor: pointer;
}

.disabled {
  pointer-events: none;
  color: gray;
}

/* ## LAYOUT ## */

div[class*="flex-column"] {
  display: flex;
  flex-direction: column;
}

.left-sidebar--flex-column {
  width: 10rem;
  height: 30rem;
  /* just for dev */
  /* background-color: gray; */
}

.title {
  flex: 0 0 6rem;
}

.controls-wrapper--flex-column {
  flex: 0 0 6rem;
  flex-wrap: wrap;
  align-content: stretch;
  background-color: red;
  max-height: 6rem;
}

.controls-wrapper--flex-column > .audio-meter {
  height: 6rem;
  width: 20%;
}

.controls-item {
  flex: 0 1 1.5rem;
  width: 80%;
}

.controls-item > .button {
  height: 100%;
  font-size: 1.2rem;
}

.media-stream-wrapper {
  flex: 0 0 6rem;
  width: 10rem;
  z-index: -1;
}

.media-stream-wrapper > .audio-meter {
  background-color: red;
  height: 6rem;
  width: 20%;
}

.overdubs-wrapper--flex-column {
  align-self: stretch;
  flex: 0 0 6rem;
}

.overdub-item-wrapper--flex-column {
  flex: 0 0 6rem;
  align-self: stretch;
}

.overdub-item-wrapper--flex-column > .audio-meter {
  position: absolute;
  height: 6rem;
  width: 10rem;
  z-index: -1;
}

.overdub-controls-wrapper--flex-column {
  flex-wrap: wrap;
  align-items: center;
  flex: 0 0 6rem;
  max-height: 6rem;
}

.overdub-controls-item {
  margin: 0px;
  padding: 0px;
}

.overdub-controls-wrapper--flex-column > .overdub-controls-item:nth-child(1) {
  flex: 0 0 auto;
  align-self: flex-start;
  width: 1rem;
  height: 100%;
}

.overdub-controls-wrapper--flex-column > .overdub-controls-item:nth-child(2) {
  align-self: flex-end;
  flex: 1 1 auto;
  width: 10%;
  height: 10%;
}

.overdub-controls-wrapper--flex-column > .overdub-controls-item:nth-child(3) {
  align-self: flex-end;
  flex: 2 1 auto;
  width: 20%;
  height: 20%;
}

.overdub-controls-wrapper--flex-column > .overdub-controls-item:nth-child(4) {
  align-self: flex-end;
  flex: 1 1 auto;
  width: 25%;
  height: 15%;
}


/* ## ELEMENTS ## */

/* AUDIO METERS */

.audio-meter {
  width: 100%;
  height: 100%;
}

/* TOASTIFY */

.Toastify__toast-container--top-right {
    top: 10px;
    right: 4px;
}

.Toastify__toast-container {
    z-index: 9999;
    -webkit-transform: translate3d(0, 0, 9999px);
    position: fixed;
    padding: 0px;
    width: 300px;
    box-sizing: border-box;
    color: black;
    border-style: solid;
    border-width: medium;
    border-color: black;
    background-color: white;
}

.Toastify__toast {
    position: relative;
    min-height: 20px;
    box-sizing: border-box;
    margin-bottom: 2px;
    padding: 2px;
    border-radius: 1px;
    box-shadow: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-height: 800px;
    overflow: hidden;
    font-family: "Courier New", Courier, monospace;
    cursor: pointer;
    direction: ltr;
}

.Toastify__toast--success {
    background: white;
}

@keyframes enter {
  from {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.enter {
  animation-name: zoomIn;
}

@keyframes exit {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 0;
  }
}

@media only screen and (max-width: 480px) {
  .Toastify__toast-container {
    width: 100vw;
    padding: 0;
    left: 0;
    margin: 0; }
    .Toastify__toast-container--top-left, .Toastify__toast-container--top-center, .Toastify__toast-container--top-right {
      top: 0; }
    .Toastify__toast-container--bottom-left, .Toastify__toast-container--bottom-center, .Toastify__toast-container--bottom-right {
      bottom: 0; }
    .Toastify__toast-container--rtl {
      right: 0;
      left: initial; } }
