video {
  width: 200px;
  height: 150px;
}

.App {
  text-align: center;
}

.backing-track {
  display: none;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.score-wrapper {
  max-width: 100%;
   overflow: hidden;
}

.videoGridItem {
  position:relative;
  width: 200px;
  height: 150px;
}

.button {
  cursor: pointer;
  font-size: 2em;
  background-color: yellow;
}

.delete-button {
  position: absolute;
  top:0;
  right:0;
  width: 20px;
  height:20px;
  cursor: pointer;
  text-align: center;
  background-color: black;
  color: white;
}

.disabled {
  pointer-events: none;
  color: gray;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
